.contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 2% 10%;
}
.nextbackbuttons {
  display: flex;
  justify-content: space-around;
}

.apisearcher {
  margin: 2% 10%;
}
.standarizecontainer {
  margin: 2% 5%;
}
.ingredients {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  div {
    div {
      div {
        width: 20vh;
        div {
          width: 20vh;
        }
      }
    }
  }
}
