@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");
* {
  font-family: "Roboto Condensed", sans-serif;
}
.contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 2% 10%;
}
.nextbackbuttons {
  display: flex;
  justify-content: space-around;
}



.chartelement {
  padding: 2% 35%;
  width: 100%;
  p {
    label {
      color: black;
      display: flex;
      justify-content:space-between;
      align-items: center;
     }
  }
}
.chartimg {
  height: 90px;
}
.charth2{
  text-align: center
}
@media only screen and (max-width: 820px) {
  .chartimg {
    height: 70px;
  }
  .chartelement {
    padding: 2% 5%;
    width: 100%;
    p {
      label {
        color: black;
        display: flex;
        justify-content:space-between;
        align-items: center;
       }
    }
  }


.singleappirecipe{
  div{
    .card-content{
      padding: 5px
    }
  }
}

}
.recipescontainer {
  display: flex;
  flex-wrap: wrap;
  .card-image {
    img {
      height: 300px;
    }
  }
  .card-content {
    height: 65px;
  }
  div {
    width: 35vh;
    div {
      div {
        width: 35vh;
        div {
          width: 35vh;
        }
      }
    }
  }
}
@media only screen and (max-width: 820px) {
  .recipescontainer {
    display: flex;
    flex-wrap: wrap;
    .card-image {
      img {
        height: 300px;
        width: 35vh;
      }
    }
    .card-content {
      height: 65px;
    }
    div {
      width: 50vh;
      div {
        div {
          width: 50vh;
          div {
            width: 50vh;
          }
        }
      }
    }
  }
}
.standarizecontainer {
  margin: 2% 5%;
}

.ingredients {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  div {
    div {
      div {
        width: 20vh;
        div {
          width: 20vh;
        }
      }
    }
  }
}

.pass-graybar {
  height: 3px;
  background-color: #ccc;
  width: 100%;
  position: relative;
}

.apiRecipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
input:invalid,
textarea:invalid {
  background: orange;
}
.greyh {
  color: grey;
}
.center {
  text-align: center;
  justify-content: center;
}
.width100 {
  width: 100%;
}
.marginnav {
  padding-left: 2%;
  padding-right: 2%;
}
.ingredientscontainer {
  display: flex;
}

.ingredientList {
  list-style: none;
}

.menurecipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  div {
    div {
      div {
        width: 40vh;
        div {
          width: 40vh;
        }
      }
    }
  }
}
.backgroundMain{
    background-image: url( "https://image.freepik.com/foto-gratis/condimentos-preparar-pasta-italiana_1220-429.jpg");
    background-size: 100% 100%;
    background-repeat:no-repeat;
    position: relative;
    text-align: center;
    color: white;
    width: 100%;
    height: 85vh
}
.backgroundInfo{
  background-image: url( "https://image.freepik.com/foto-gratis/vegetales-puestos-izquierda-pizarra-negra_1220-685.jpg");
  background-size: 100% 100%;
  background-repeat:no-repeat;
  position: relative;
  color: white;
  width: 100%;
  height: 85vh
}

.h1index {
  font-size: 50px;
}
.h2index {
  font-size: 30pt;
}
.h3index{
  font-size: 24pt;
}

.textinside h1{
  font-size: 50px; }

.textinside h2 {
  font-size: 30pt; }

.textinside h3 {
  font-size: 24pt; }
  
    	.textinside h4{
  font-size: 14pt; }
  
.centered {
  display: inline-block;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.spaceresponsive {
  width: 20%;
  margin: 2%;
}
.space {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.cell{
  border: 1px solid black;
  border-radius: 8px;
  display:flex;
  flex-direction:column;
  align-items:center;
  color: white;
    background: pink;
    width: 28%;
    margin: 2%;
    height: 36%; }
    .cell a {
      color: white; 
        text-decoration: none }
        .material-icons.md-100 { font-size: 100px; }
@media only screen and (max-width: 820px) {
  .textinside  h1{
    font-size: 24pt; }
 .textinside h2 {
    font-size: 18pt; }
	.textinside h3{
  font-size: 16pt; }
  	.textinside h4{
  font-size: 14pt; }
  .h1index{
    font-size: 24pt;
  }
  .h2index {
    font-size: 12pt;
  }
  .spaceresponsive {
    width: 80%;
    margin: 2%;
  }
  .backgroundMain {
    background-image: url("https://image.freepik.com/foto-gratis/condimentos-preparar-pasta-italiana_1220-429.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    text-align: center;
    color: white;
    width: 100%;
    height: 40vh;
  }
}
.collection-item {
  height: 35px;
}
.backgroundMain{
  background-image: url( "https://image.freepik.com/foto-gratis/condimentos-preparar-pasta-italiana_1220-429.jpg");
  background-size: 100% 100%;
  background-repeat:no-repeat;
  position: relative;
  color: white;
.checklist_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.backgroundInfo{
  background-image: url( "https://image.freepik.com/foto-gratis/vegetales-puestos-izquierda-pizarra-negra_1220-685.jpg");
  background-size: 100% 100%;
  background-repeat:no-repeat;
  position: relative;
  color: white;
  width: 100%;
  height: 40vh
}

.cell{
  width: 45%;
  margin: 2%;
  height: 27%;
}
}
.recipescontainer{
  .card .card-image img{
    height: 300px
  }
}
