.contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 2% 10%;
}
.nextbackbuttons {
  display: flex;
  justify-content: space-around;
}

.recipescontainer{
  display: flex;
  flex-wrap: wrap;
  div {
    width: 35vh;
    div {
      div {
        width: 35vh;
        div {
          width: 35vh;
        }
      }
    }
  }
}

.standarizecontainer {
  margin: 2% 5%;
}
.ingredients {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  div {
    div {
      div {
        width: 20vh;
        div {
          width: 20vh;
        }
      }
    }
  }
}
.ingredientscontainer{
  display: flex;
}
.ingredientList{
  list-style: none;
}
