<h1>WELCOME TO MYAWESOMEMEALS !!</h1>
<p>In this page you can create your recipes or choose them from a wide selection and adapt it's  ingredients just like you want it!</p>
 <p>You can manage a menu for the days you choose and prepare a purchase list in seconds in an intuitive way. all this just for free.</p>

 <a href="/auth/login">I'm a member</a>
<a href="/auth/signup">I want to be a member</a>
  <a href="/info">How does it work exactly?</a>
<a href="/infodevelop">More about MyAwesomeMeals</a>


