
<div class="backgroundMain">
<h1 class=" centered h1index">WELCOME TO MYAWESOMEMEALS</h1>
</div>
<div>

<h2 class="h2index">In this page you can create your recipes or choose them from a wide selection and adapt it's  ingredients just like you want it!</h2>
 <h2 class="h2index">You can manage a menu for the days you choose and prepare a purchase list in seconds in an intuitive way. all this just for free.</h2>
<div class="space">
  <a class="waves-effect waves-light btn-small spaceresponsive" href="/auth/login">I'm a member</a>
<a class="waves-effect waves-light btn-small spaceresponsive" href="/auth/signup">I want to be a member</a>
  <a class="waves-effect waves-light btn-small spaceresponsive" href="/info">How does it work exactly?</a>
<a class="waves-effect waves-light btn-small spaceresponsive" href="/infodevelop">More about MyAwesomeMeals</a>
</div>
</div>


