

<h2>About MyAwesomeMeals</h2>

<h3>My awesomemeals arises as a full stack application project, for the second module of the Web Development Bootcamp of irnohack Madrid.</h3>
<p>For this project the following technologies and apis have been used</p>

<h3>Technologies</h3>

<p>Node.js</p>
<p>MongoDB</p>
<p>Express</p>

<h3>Apis</h3>

<p>EDAMAM</p>
<p>For recipes</p>
<a href="https://www.edamam.com/">https://www.edamam.com/</a>


<p>THE MEAL DB</p>
<p>For ingredients</p>
<a href="https://www.themealdb.com/">https://www.themealdb.com/</a>


<h3>Developed by</h3>

<h4>Ferran Lao Salmeron</h4>
<a href="https://www.linkedin.com/in/ferranlao">www.linkedin.com/in/ferranlao</a>

<h4>Aarón Iván Reina Noguerales</h4>
<a href="https://www.linkedin.com/in/aaronreina">www.linkedin.com/in/aaronreina</a>
