

<h1>ABOUT MYAWESOMEMEAL</h1>

<h2>My awesomemeals arises as a full stack application project, for the second module of the Web Development Bootcamp of irnohack Madrid.</h2>
<p>For this project the following technologies and apis have been used</p>

<h2>TECHNOLOGIES</h2>

<p>NODE.JS</p>
<p>MONGODB</p>
<p>EXPRESS</p>

<h2>APIS</h2>

<p>EDAMAM</p>
<p>For recipes</p>
<a href="https://www.edamam.com/">https://www.edamam.com/</a>


<p>THE MEAL DB</p>
<p>For ingredients</p>
<a href="https://www.themealdb.com/">https://www.themealdb.com/</a>


<h2>Developed by</h2>

<h3>Ferran Lao Salmeron</h3>
<a href="https://www.linkedin.com/in/ferranlao">www.linkedin.com/in/ferranlao</a>

<h3>Aarón Iván Reina Noguerales</h3>
<a href="https://www.linkedin.com/in/aaronreina">www.linkedin.com/in/aaronreina</a>