<h1>How myawesomemeals works.</h1>
<h2>it's very easy:<h2>
 <h3 >  How can I create a recipe?</h3>    
<h3>How to start</h3>
<p>inside your menu click on my recipes and press create or select recipes.</p>
<h3>Create a recipe</h3>
<p>Give a name to your recipe, upload a photo and add ingredients from our seeker.We have more than 500 ingredients in our database, but if you do not find yours, you can add it to the list.</p>
<h3>Select recipes.</h3>
<h3>You have thre ways to search your recipes.</h3>
<p> select by your main ingredient, category or range of calories and then press find.</p>
  <ul>
<li>Oh no!!! The ingredient of this recipe are so difficult to find!!</li>
<li>I want to use my own ingredients!!</li>
<li>I do not want to buy more salt, i always have it at home!!</li>
</ul>
<h3>Do not worry, in myawesomemeals we have think about everything.</h3>
 <p>After the selection choose the ingredients that you want to put into this recipe purchase list. </p>
<h3>Do not panic!</h3> 
<p>Your recipe ingredients info will still be the same ,but if you choose it in your menu, only this ingredients will be added to your final purchase list.</p>
 <h3 >  How can I make a menu?</h3>  
<h3>When you have all your recipes the fun begins!</h3>
<p>Enter into my recipes, and press create menu.<br>
Select the recipes that you want and when selection ends your purchase list will appear with the ingredients.<br>
We will show you how many recipes will use every ingredient and you will decide how many of each ingredient you will need in function of the diners.<br>
Finally you can edit your list to add some extras, like cleaning items, and send it to your email</p>
