<div class="textinside">
<div class="backgroundInfo">
<h1 class=" centered" >How myawesomemeals works.</h1>
</div>
<div>
 <h2 >  How can I make a recipe?</h2>    
 </div>
 <div>
<div>
<h3>Create a recipe</h3>
<p>Inside your menu click on  create new recipe</p><p> Give a name to your recipe, upload a photo and add ingredients from our seeker.</p> <p> We have more than 500 ingredients in our database, but if you do not find yours, you can add it to the list.</p>
</div>
<div>
<h3>Select recipes.</h3>
<p>Inside your menu click on seach new recipes</p><p> Select by your main ingredient, category or range of calories and then press find.</p>
</div>
</div>
<hr width="100%">
<div>
 <h4 >  Maybe you could think....</h4>    
 </div>
<div>
  <ul>
<li>The ingredients of this recipe are so difficult to find!!</li>
<li>I want to use my own ingredients!!</li>
<li>I do not want to buy more salt, I always have it at home!!</li>
</ul>
</div>
<div>
<h3>Do not worry, in myawesomemeals we have thought  about everything.</h3>
</div>
<div>
<div>
 <p>After the selection choose the ingredients that you want to put into this recipe purchase list. </p>
<p>Your recipe ingredients info will still be the same ,but if you choose it in your menu, only this ingredients will be added to your final purchase list.</p>
</div>
</div>
<hr width="100%">
<div>
<div>
 <h2 >  How can I make a menu?</h2>  
 </div>
<div>
<ul>
<li><p>Enter into my recipes, and press create new menu.</p></li>
<li><p>Select the recipes that you want to add, and when selection ends your purchase list will appear with the ingredients.</p></li>
</ul>
<p>We will show you how many recipes will use every ingredient and you will decide how many of each ingredient you will need in function of the diners.</p>
</div>
</div>
</div>