<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src='https://www.google.com/recaptcha/api.js'></script>
 
        

</head>
<div class="navbar-fixed" >
  <nav class= "marginnav">
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">MyAwesomeMeals</a>
      <a href="#" data-target="mobile-demo" class=" sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a class="active" href="/info">How it works!</a></li>
        <li><a class="active" href="/infodevelop">More about MyAwesomeMeals</a></li>
         <li><a class="active" href="/auth/login">Loggin</a></li>
        <li><a class="active"  href="/auth/signup">Signup</a></li>
        <li><a class="active"  href="/auth/logout">Logout</a></li>
        <li><a class="active" href="/logged/main">Main</a></li>
        
      </ul>
    </div>
  </nav>

  <ul class=" right sidenav" id="mobile-nav">
    <li><a href="/auth/login">Loggin</a></li>
        <li><a href="/auth/signup">Signup</a></li>
        <li><a href="/auth/logout">Logout</a></li>
        <li><a href="/logged/main">Main</a></li>
  </ul>

</div>
  <div class="standarizecontainer">
  {{{body}}}
  </div>
  <script src="/javascripts/script.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
 
</body>

</html>