<h2>Loggin</h2>
<div class="container">
  <form action="/auth/login" method="POST" id="form-container">
    <div class="row">
      <div class="col-25">
        <label for="username">Username</label>
      </div>
      <div class="col-75">
        <input id="username" type="text" name="username" placeholder="JonSnow"
         required pattern="[A-Za-z0-9]{4,25}"
         title="Only letters and numbers. Min length: 4 characters. Max length: 25 characters">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="password">Password</label>
      </div>
      <div class="col-75">
       <input id="password" type="password" name="password" placeholder="Your password"
       required pattern="[A-Za-z0-9$!?¿&]{4,25}"
         title="Can contain letters, numbers and this special caracteres $!??&. Min length: 6 characters. Max length: 40 characters">
      </div>
      {{#if message }}
      <div class="error-message">{{ message }}</div>
      {{/if}}
    </div>
    <div class="row">
      <input type="submit" value="Loggin">
    </div>
    <p class="account-message">
      Don't have an account yet?<a href="/auth/signup">Signup</a><br><br>
      Forgot your password? <a href="/auth/recover">Click Here</a>
    </p>
  </form>
</div>