
<h2>Become a member!</h2>
<div class="container">
  <form action="/auth/recover/{{id}}" method="POST" id="form-container">
      <div class="row">
      <div class="col-25">
         <label for="password">Password</label>
      </div>
      <div class="col-75">
       <input id="password" type="password" name="password" placeholder="Your password"
        required pattern="[A-Za-z0-9$!?¿&.,_-]{4,25}"
         title="Can contain letters, numbers and this special caracteres $!?¿&.,_-. Min length: 6 characters. Max length: 40 characters">
      </div>
    </div>
       </div>
     {{#if message }}
    <div class="error-message">{{ message }}</div>
  {{/if}}
  <div class="g-recaptcha" data-sitekey="6Le16X4UAAAAAFQttExGYbDxFGwkDppuG-qLk0NU"></div>
    <div class="row">
      <input type="submit" value="Create account">
    </div>
  </form>
</div>

<script src="../javascripts/password.min.js"></script>
<script src="../javascripts/passwordStrength.js"></script>