<div class="contenedor center">
    <div class="width100">
<h2>Recover your password</h2>
</div>
<div class="container">
  <form action="/auth/recover" method="POST" id="form-container">
    <div class="row">
      <div class="col-25">
        <label for="email">Email</label>
      </div>
      <div class="col-75">
        <input id="email" type="email" name="email" placeholder="pepe@gmail.com">
      </div>
    </div>
   
      </div>
      {{#if message }}
      <div class="error-message">{{ message }}</div>
      {{/if}}
    </div>
    <div class="row">
      <input class="waves-effect waves-light btn-small" type="submit" value="Recover">
    </div>
  
  </form>
</div>
</div>