<div class="contenedor center">
    <div class="width100">
<h2 class = "greyh">Insert your new password</h2>
</div>
<div class="container">
  <form action="/auth/recover/{{id}}" method="POST" id="form-container">
      <div class="row">
      <div class="col-25">
         <label for="password">Password</label>
      </div>
      <div class="col-75">
       <input id="password" type="password" name="password" placeholder="Your password"
        required pattern="[A-Za-z0-9$!?¿&.,_-]{4,25}"
         title="Can contain letters, numbers and this special caracteres $!?¿&.,_-. Min length: 4 characters. Max length: 25 characters"/>
    </div>
       </div>
     {{#if message }}
    <div class="error-message">{{ message }}</div>
  {{/if}}
  <div class="contenedor center">
  <div class="g-recaptcha" data-sitekey="6LeWAIMUAAAAAFj9ZiNm5kxRbUIjN0dyTFp71hRV"></div>
  </div>
    <div class="row center">
      <input class="waves-effect waves-light btn-small" type="submit" value="Create account">
    </div>
  </form>
</div>
</div>
<script src="/javascripts/password.min.js"></script>
<script src="/javascripts/passwordStrength.js"></script>