
<h2>Become a member!</h2>
<div class="container">
  <form action="/auth/signup" method="POST" id="form-container">
    <div class="row">
      <div class="col-25">
         <label for="username">Username</label>
      </div>
      <div class="col-75">
        <input id="username" type="text" name="username" placeholder="JonSnow"
        required pattern="[A-Za-z0-9]{4,25}"
         title="Only letters and numbers. Min length: 4 characters. Max length: 25 characters">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
         <label for="password">Password</label>
      </div>
      <div class="col-75">
       <input id="password" type="password" name="password" placeholder="Your password"
        required pattern="[A-Za-z0-9$!?¿&.,_-]{4,25}"
         title="Can contain letters, numbers and this special caracteres $!??&. Min length: 6 characters. Max length: 40 characters">
      </div>
    </div>
     <div class="row">
      <div class="col-25">
         <label for="email">Email </label>
      </div>
      <div class="col-75">
        <input id="email" type="email" name="email" placeholder="pepe@pepe.com"
        required pattern="[A-Za-z0-9@._-]{4,40}"
         title="insert a valid email">
      </div>
    </div>
     <div class="row">
      <div class="col-25">
         <label for="phone">Phone number(optional) </label>
      </div>
      <div class="col-75">
         <input id="phone" type="text" name="phone" placeholder="123456789"
        pattern="[0-9]{9,9}"
         title="Can contain only 9 numbers">
      </div>
    </div>
     {{#if message }}
    <div class="error-message">{{ message }}</div>
  {{/if}}
  <div class="g-recaptcha" data-sitekey="6Le16X4UAAAAAFQttExGYbDxFGwkDppuG-qLk0NU"></div>
    <div class="row">
      <input type="submit" value="Create account">
    </div>
     <p class="account-message">
     Do you already have an account?
    <a href="/auth/login">Loggin</a>
  </p>
  </form>
</div>