    <div>
    <div>
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s6">
                        <input id="ingredients" type="text" name="ingredient" class="validate ingredientsadd">
                        <label for="ingredients">Ingredients</label>
                        <a class="waves-effect waves-light btn seachingredient">Search Ingredients</a> or <a class="waves-effect waves-light btn createingbutton">Create
                            It!!</a>
                    </div>
                </div>
            </form>
            <div class="createing"></div>
        </div>
        <div class="ingredientscontainer">
            <div class="ingredients"></div>
            <div class="ingredientList"></div>
        </div>
    </div>
    <a class="waves-effect waves-light btn-large createRecipe">Create recipe</a>
</div>
<script src="/javascripts/newplate.js"></script>