<label for="ingredients">Ingredients</label>
<input class="ingredientsadd" name="ingredient" placeholder="Search ingredient">
<button class="seachingredient">Search Ingredients</button>
<div class="ingredients">
</div>
<p>cant find your ingredient?</p>
<button class="createingbutton"> Create it!!</button>
<div class="createing">

</div>
<div class="ingredientList">

</div>
<button class="createRecipe">Create recipe</button>
<script src="/javascripts/newplate.js"></script>