<h1>Users Recipes</h1>
{{#each recipes}}
<p>{{this.name}}</p>
<img src="{{this.imgPath}}" height="200px">
{{/each}}
<h2>See our recipes</h2>
<label>Main ingredient</label>
<input class="mainingredient" type="text">
<label>DIET</label>
<select class="diet">
    <option value="none">none</option>
    <option value="balanced">balanced</option>
    <option value="high-protein">high-protein</option>
    <option value="high-fiber">high-fiber</option>
    <option value="low-fat">low-fat</option>
    <option value="low-carb">low-carb</option>
    <option value="low-sodium">low-fat</option>
</select>
<label>Calories range</label>
<input class="calories" type="text" placeholder="100-200">
<button class="Search">Search</button>
<button class="Random">Random Meal</button>
<div class="apiRecipes"></div>
<script src="../javascripts/themealdb.js"></script>