<h1>Create your recipe</h1>
<form action="/logged/newmeal" method="POST" id="form-container" enctype="multipart/form-data">
  <div class="row">
    <div class="input-field col s12">
      <input id="name" name="name" type="text" class="validate">
      <label for="name">Recipe name</label>
    </div>
  </div>
  <div class="file-field input-field">
    <div class="btn">
      <span>Add a photo</span>
      <input type="file" name="photo">
    </div>
    <div class="file-path-wrapper">
      <input class="file-path validate" type="text">
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <textarea id="tips" type="text" name="tips" class="materialize-textarea"></textarea>
      <label for="tips">Comments and tips for your recipe</label>
    </div>
  </div>
  <button class="btn waves-effect waves-light" type="submit">Add Ingredients
</form>