<div >
    <h2>See our recipes</h2>
    <div class="row">
        <div class="input-field inline col s12">
            <input placeholder="Search by ingredient" id="mainingredient" type="text" class="validate mainingredient">
            <label for="mainingredient">Main ingredient</label>
        </div>
    </div>
    <div class="input-field inline col s12">
        <select class="diet">
            <option value="none">none</option>
            <option value="balanced">balanced</option>
            <option value="high-protein">high-protein</option>
            <option value="low-fat">low-fat</option>
            <option value="low-carb">low-carb</option>
        </select>
        <label>Diet</label>
    </div>
    <div class="row">
        <div class="input-field inline col s12">
            <input placeholder="100-200" id="calories" type="text" class="validate calories">
            <label for="calories">Calories range</label>
        </div>
    </div>
    <button class="btn waves-effect waves-light Search" type="submit" name="action">Search
    </button>
    <button class="btn waves-effect waves-light Search Random" type="submit" name="action">Random Meal
    </button>
</div>

<div class="apiRecipes contenedor"></div>
<div class="nextbackbuttons"></div>
<script src="../javascripts/themealdb.js"></script>