<h1>todito</h1>
<p>{{user.username}}</p>
<a href="/logged/newmeal">New meal</a>
<br><br>
<a href="/logged/allmeals">See all meals</a>
<br><br>
<a href="/logged/getrecipes">Seach Api recipes</a>
<br><br>
<a href="/logged/newmenu">new menu</a>
<br><br>
<a href="/auth/editprofile" ><i class="fas fa-cog"></i></a>
<br><br>
<a href="/logged/seemenus">see your menus</a>

