<div class="space"> 
<div class="cell" ><a href="/logged/newmeal"><i class="material-icons md-100">fiber_new</i></a>
<p> Create new recipe</p></div>
<div class="cell" ><a href="/logged/allmeals"><i class="material-icons md-100 ">fastfood</i></a>
<p> My recipes</p></div>
<div class="cell" ><a href="/logged/getrecipes"><i class="material-icons md-100 ">search</i></a>
<p> Seach new recipes</p></div>
<div class="cell" ><a href="/logged/newmenu"><i class="material-icons md-100">list_alt</i></a>
<p> Create new menu</p></div>
<div class="cell" ><a href="/auth/editprofile" ><i class="material-icons md-100">settings</i></a>
<p> Edit my profile</p></div>
<div class="cell" ><a href="/logged/seemenus"><i class="material-icons md-100">restaurant_menu</i></a>
<p> My menus</p></div>
</div>
