<div class="col s12 m7">
    <h2 class="header recipelabel">{{recipe.name}}</h2>
    <div class="card horizontal large">
        <div class="card-image">
            <img class="recipeimage" src="{{recipe.imgPath}}">
        </div>
        <div class="card-stacked">
            <div class="card-content">
                <ul>
                    {{#each recipe.tips}}
                    <li class="ingredientsli">{{this}}</li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</div>