<div class="row">
    <div class="col s12 m7">
        <div class="card">
            <div class="card-image" >
                <img src="{{recipe.imgPath}}">
            </div>
            <div class="card-content">
                <h3 class="h3index">{{recipe.name}}</h3>
                <ul>
                    {{#each recipe.tips}}
                    <li class="ingredientsli">{{this}}</li>
                    {{/each}}
                </ul>
            </div>
            
        </div>
    </div>
</div>