<ul class="collection with-header">
    <li class="collection-header">
        <h4>Your menus</h4>
    </li>
    {{#each menu}}
    <li class="collection-item">
        <div><a href="/logged/seemenus/{{this._id}}">{{this.name}}</a><span style="display:none">{{this._id}}</span><a
                href="#!" class="secondary-content menudelete"><i class="material-icons">delete</i></a></div>
    </li>
    {{/each}}
</ul>
<a class="waves-effect waves-light btn-large" href="/logged/newmenu">Create a menu</a>
<script src="/javascripts/seemenus.js"></script>