<div class="row">
    <div class="col s12 m7">
        <div class="card">
            <div class="card-image" >
                <img src="{{recipe.imgPath}}">
            </div>
            <div class="card-content">
                <h3 class="h3index">{{recipe.name}}</h3>
                <ul>
                    {{#each recipe.tips}}
                    <li class="ingredientsli">{{this}}</li>
                    {{/each}}
                </ul>
            </div>
            
        </div>
    </div>
</div>
<div>
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="ingredients" type="text" name="ingredient" class="validate ingredientsadd">
                        <label for="ingredients">Ingredients</label>
                        <a class="waves-effect waves-light btn seachingredient">Search Ingredients</a> or <a class="waves-effect waves-light btn createingbutton">Create
                            It!!</a>
                    </div>
                </div>
            </form>
            <div class="createing"></div>
        </div>
        <div class="ingredientscontainer">
            <div class="ingredients"></div>
            <div class="ingredientList"></div>
        </div>
    </div>
    <a class="waves-effect waves-light btn-large createRecipe">Create recipe</a>
</div>

<script src="/javascripts/newplate.js"></script>